.header__lang-link {
  text-decoration: none;
  color: white;
  transition: opacity .5s;
  margin-left: 18px;
}

@media screen and (min-width: 320px) {
  .header__lang-link {
    margin-left: 16px;
  }
}