.places {
  margin: 0 auto 92px;
  max-width: 984px;
}

@media all and (max-width: 1080px) {
  .places {
    margin: 0 48px 92px;
  }
}

@media all and (max-width: 820px) {
  .places {
    margin: 0 24px 92px;
  }
}

@media all and (max-width: 675px) {
  .places {
    margin: 0 0 48px;
  }
}