.lead {
  max-width: 984px;
  margin: 56px auto 92px;
}

@media all and (max-width: 1080px) {
  .lead {
    margin: 56px 48px 92px;
  }
}

@media all and (max-width: 1023px) {
  .lead {
    margin: 56px auto 92px;
  }
}