.cover__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    width: 360px;
    text-align: center;
    align-self: center;
}

@media (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
    }
}