.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 600px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

@media all and (max-width: 700px) {
  .lead__subtitle {
    font-size: 20px;
    line-height: 1.23;
  }
}

@media all and (max-width: 575px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media all and (max-width: 470px) {
  .lead__subtitle {
    width: 300px;
  }
}