.place__link {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  transition: ease-in-out .335s;
}

.place__link:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .place__link {
    margin: 0 16px;
  }
}