.lead__caption {
  margin: 8px 0 0 148px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (max-width: 1279px) {
  .lead__caption {
    margin-left: 48px;
  }
}

@media (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}