.cover__title {
    margin: 0 0 32px;
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;
    width: 560px;
    text-align: center;
    align-self: center;
}

@media (max-width: 767px) {
    .cover__title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 35px;
    }
}